<footer>
	<section>
		<img src="" alt="">
	</section>
	<section>
		{# on récupére le nom que l'on avait donné dans le controller #}
		<a href="{{path('app_mentions')}}">
			Mentions légales</a>
	</section>
</footer>
