<nav
	class="navbar">
	{# pour l'img on appele une fonction twig asset() qui pointe dans public#}
	<a href="{{path('app_main')}}"><img class="img-logo" src="{{ asset('assets/images/logo.jpg')}}" alt="Logo">OpenBlog</a>
	<ul>
		<li>Accueil</li>
		<li>Articles</li>
		<li>Catégories</li>
		<li>Auteurs</li>
		<li>Contact</li>
		<li>Recherche</li>
	</ul>
</nav>
