<nav class="navbar" id='main-navbar'>
	<div
		class="navbar-container">
		{# pour l'img on appele une fonction twig asset() qui pointe dans public#}
		<a href="{{path('app_main')}}" class="nav-logo"><img class="img-logo" src="{{ asset('assets/images/logo.jpg')}}" alt="Logo"></a>
		<span
			class="nav-button">
			{# on crée le menu burger avec un svg: #}
			<svg viewbox="0 0 100 80" width="40" height="40">
				<rect width="100" height="15" rx="8"></rect>
				<rect y="35" width="100" height="15" rx="8"></rect>
				<rect y="70" width="100" height="15" rx="8"></rect>
			</svg>
		</span>
		<ul
			class="nav-menu show">
			{# show pour afficher les onglets avec le js #}
			<li class="nav-item active">
				<a href="#">Accueil</a>
			</li>
			<li class="nav-item">
				<a href="#">Articles</a>
			</li>
			<li class="nav-item">
				<a href="#">Catégories</a>
			</li>
			<li class="nav-item">
				<a href="#">Auteurs</a>
			</li>
			<li class="nav-item">
				<a href="#">Contact</a>
			</li>
			<li class="nav-item">
				<a href="#">Recherche</a>
			</li>
		</ul>
	</div>
</nav>
