{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section>
		<h1>Demande réinitilisation de mot de passe</h1>
		{# avec twig pour démarrer le formulaire je fais form_start et je met le nom que j'ai passé dans la var depuis SecurityController #}
		{{form_start(requestPassForm)}}
		{# je dois mettre mettre un form_row entre start et end avec le nom de l'input ici l'email #}
		{{form_row(requestPassForm.email)}}
		<button type="submit">Envoyer</button>
		{{form_end(requestPassForm)}}
	</section>
{% endblock %}
