{% extends 'base.html.twig' %}
{# on prend le même ficher que la requete mais on modifie le nom des variables #}
{% block title %}Demande de réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section>
		<h1>Demande réinitilisation de mot de passe</h1>

		{{form_start(passForm)}}

		{{form_row(passForm.password)}}
		<button type="submit">Envoyer</button>
		{{form_end(passForm)}}
	</section>
{% endblock %}
