<h1>Réinitialisation de votre mot de passe sur Openblog</h1>
<p>Bonjour
	{{ user.nickname }},</p>
{# on récupère la  variable user dans entity #}
<p>Pour activer votre deamnde de réinitialisation cliquez sur le lien ci-dessous.</p>
{# on met le token dans un lien #}
<p>
	{# dans le a je met l'rul envoyé  #}
	<a href="{{ url|raw }}">{{ url|raw }}</a>
</p>
<p>Merci</p>
