<!DOCTYPE html>
<html lang='fr'>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quando&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ux_controller_link_tags() }}
		{% endblock %}
		{# pour rajouter du js, on va chercher le fichier dans public #}
		{# sinon on peut faire directement le js dans app.js dans app/assets/app.js on peut églmt créer un dossier js dans app et un fichier js#}
		{# <script src="{{asset('assets/js/script.js')}}"></script> #}
		{{ importmap(['app', 'navbar']) }}
			{% block javascripts %}{% block importmap %}
		{% endblock %}
	{% endblock %}
		{# si on met 2 valeurs il faut mettre dans un tableau et ne pas oublier de le déclarer dans le fichier à la racine du projet importmap.php #}
	</head>
	<body>
		{% include "_partials/_navbar.html.twig" %}

		{# pour faire afficher tous les messages flash de app.flashes on fait 2 boucle for dans mon block body #}
		{% for messages in app.flashes %}
			{% for message in messages %}
				<p>{{ message|raw}}</p>
			{% endfor %}
		{% endfor %}
		{% block body %}{% endblock %}
		{% include "_partials/_footer.html.twig" %}
	</body>
</html></html></head></html></body></html>
